<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# controls dimensions and scaling of pages on app %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# makes javascript code available and executes code in Index.jsx file %>
    <%= javascript_pack_tag 'Index' %>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
